[Desktop Entry]
Encoding=UTF-8
Name=Diosys
Comment=Diosys P2P Cryptocurrency
Comment[fr]=Diosys, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Diosys, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/diosys-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/diosys128.png
MimeType=x-scheme-handler/diosys;
Categories=Office;
