#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_diosys
#build/diosysd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_diosys)

DEB_INSTALL_EXAMPLES_diosysd += debian/examples/*
DEB_INSTALL_MANPAGES_diosysd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix diosysd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f diosys-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake diosys-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_diosys
	src/test_diosys

# Ensure wrapper is set executable
binary-post-install/diosysd:
	chmod +x $(cdbs_curdestdir)usr/bin/diosysd
binary-post-install/diosys-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/diosys-qt
